* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
}
nav {
  box-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
  padding: 1.5rem 2rem;
  width: 100vw;
  background-color: black;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  /* gap: 1rem; */
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}

nav ul li a:hover {
  color: #007bff;
}

header {
  text-align: center;
  margin-top: 0.7rem;
}

.subcontainer {
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
}

.subcontainer .intro {
  flex: 1.5;
  padding: 1rem 1rem;
}

.subcontainer .intro p {
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.35;
}

.subcontainer .image {
  flex: 1;
  display: flex;
  justify-content: center;
}

#login_signup {
  text-align: start;
  width: 100%;
  padding: 0 3rem 0.5rem 3rem;
  font-size: 1.1rem;
}

footer {
  color: white;
  background-color: black;
  width: 100vw;
  text-align: center;
  padding: 0.25rem;
}

.buttons {
  display: flex;
  justify-content: start;
  gap: 2rem;
  width: 100%;
  padding: 0 2rem;
}

.buttons button {
  color: white;
  background-color: black;
  border: none;

  padding: 1rem;
}

.buttons button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
