<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/form.css" />
    <title>Folder Creation Form</title>
  </head>
  <body>
    <h1>Create Folder</h1>
    <form action="/createFolder" method="POST">
      <div class="label-input">
        <label for="folderName">Folder Name:</label>
        <input type="text" name="name" id="name" required />
      </div>
      <button type="submit">Create Folder</button>
    </form>
    <br /><br />
  </body>
</html>
