<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folder contents</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <h1><%=folder.name%></h1>
    <ul>
        <% if (files.length > 0) { %>
 <% files.forEach((file) => {%>
            <a href="/files/<%= file.id %>" target="_blank">
                <li>
                    <img src="" alt="file icon">
                    <p><%= file.name %></p>
                </li>
            </a>

       <% }) } else { %>
            <p>No files in this folder.</p>
       <% } %>
       
    
       
    </ul>
</body>
</html>