<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav></nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </nav>
        <h1>Welcome to File Uploader</h1>
        <div class="subcontainer">
            <div class="intro">
                <p>Welcome to the File Uploader! Upload your files with ease.
                </p>
            </div>
            <div class="image">
                <img src="../images/2765820.jpg" alt="upload image" width="400px" height="300px">
            </div>
        </div>
    </div>
</body>
</html>